body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000000;
  font-size: 35px;
  font-weight: 600px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

btn {
  transition: all 200ms ease-in-out;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 10px 30px;
  border: 1px solid #b3b2b2;
  border-radius: 7px;
  background: #ffffff;
}

.weather-overview {
  margin-bottom: 15px;
}

.current-temperature img {
  margin-right: 10px;
  position: relative;
  top: -15px;
  right: 15px;
}

.current-temperature strong {
  font-size: 50px;
  font-weight: 500px;
  position: relative;
  right: 30px;
}

.current-temperature .units {
  position: relative;
  font-size: 14px;
  top: -25px;
  right: 27px;
}

.humidity-and-wind {
  margin-top: 14px;
  margin-left: 15px;
}

.wind-li {
  margin-bottom: 0px;
}

.col-2 {
  text-align: center;
  width: 600px;
}

.col-2 img {
  position: relative;
  right: 15px;
}
.current-temperature .active {
  color: #000000;
  cursor: default;
}

.current-temperature .active:hover {
  text-decoration: none;
}
